.tagContainer {
  background: #f7f8fa;
  border: 0.5px solid #ced3de;
  border-radius: 999px;
  padding: 5px 12px;
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  color: #5a6b87;
}
