body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
button {
  cursor: pointer;
}

.h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #1d232b;
}

.h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #1d232b;
}

.p1 {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #313b49;
}

.p2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #919eb6;
}

.p3 {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #919eb6;
}

.h1,
.h2,
.p1,
.p3 {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.align-center {
  align-items: center;
}

.text-gray {
  color: #919eb6;
}

.pr-4 {
  padding-right: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-12 {
  padding-right: 12px;
}
.pr-16 {
  padding-right: 16px;
}
.pr-24 {
  padding-right: 24px;
}
.pl-4 {
  padding-left: 4px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-12 {
  padding-left: 12px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-24 {
  padding-left: 24px;
}
.px-4 {
  padding-right: 4px;
  padding-left: 4px;
}
.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}
.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}
.px-16 {
  padding-right: 16px;
  padding-left: 16px;
}
.px-24 {
  padding-right: 24px;
  padding-left: 24px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.ml-12 {
  margin-left: 12px;
}

.mr-18 {
  margin-right: 18px;
}
.pt-4 {
  padding-top: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-4 {
  margin-bottom: 4px;
}
.size-25 {
  width: 25px;
  height: 25px;
}
.size-32 {
  width: 32px;
  height: 32px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pt-12 {
  padding-top: 12px;
}
